src/main/resources/api/bookShowTicket.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.bookShowTicket.org/bookTicket/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="bookTicket" targetNamespace="http://www.bookShowTicket.org/bookTicket/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.bookShowTicket.org/bookTicket/">
      <xsd:element name="BookTicket">
        <xsd:complexType>
          <xsd:sequence>
          	<xsd:element name="numberOfSeats" type="xsd:int" />
          	<xsd:element name="Movie" type="xsd:string"></xsd:element>
          	<xsd:element name="Theatre" type="xsd:string"></xsd:element>
          	<xsd:element name="region" type="xsd:string"></xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="BookTicketResponse">
        <xsd:complexType>
          <xsd:sequence>
          	<xsd:element name="price" type="xsd:string" />
          	<xsd:element name="Movie" type="xsd:string"></xsd:element>
          	<xsd:element name="Theatre" type="xsd:string"></xsd:element>
          	<xsd:element name="region" type="xsd:string"></xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="BookTicketRequest">
    <wsdl:part element="tns:BookTicket" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="BookTicketResponse">
    <wsdl:part element="tns:BookTicketResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:portType name="bookTicket">
    <wsdl:operation name="BookTicket">
      <wsdl:input message="tns:BookTicketRequest"/>
      <wsdl:output message="tns:BookTicketResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="bookTicketSOAP" type="tns:bookTicket">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="BookTicket">
      <soap:operation soapAction="http://www.bookShowTicket.org/bookTicket/BookTicket"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="bookTicket">
    <wsdl:port binding="tns:bookTicketSOAP" name="bookTicketSOAP">
      <soap:address location="http://www.example.org/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
